* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color-main: #fff7ed;
}

body {
  background-color: var(--background-color-main);
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.active-style {
  text-decoration: underline;
  font-weight: bold;
}
.brand-name {
  font-weight: 900;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-weight: 600;
}
.nav-links > a:hover {
  text-decoration: underline;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home {
  color: white;
  background-image: url("./assets/travel-van-life.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  background-color: #252525;
  color: white;
  padding: 1rem;
  text-align: center;
}
.home > h2 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 30px;
}
.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about > img {
  width: 100%;
  height: 400px;
}
.about-description {
  padding: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}
.about-description > p {
  margin-top: 10px;
  text-align: left;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  background-color: #ffcc8d;
  border-radius: 10px;
  height: 50%;
  text-align: left;
  padding: 50px;
}
.card > p {
  font-weight: 700;
  font-size: 24px;
}
.card > button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 250px;
  margin-top: 5px;
  border: none;
}
.card > button > a {
  color: white;
}
.vans {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.vans-img {
  width: 500px;
  border-radius: 10px;
}
.vans-category {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.van-info {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}
.van-info > img {
  text-align: center;
  width: 400px;
}
.van-info-price {
  display: flex;
  align-items: center;
}
.host-vans {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vans-host-list {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.vans-host-list > img {
  width: 100px;
}
.vans-detail-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  background-color: white;
}
.back-to-vans:hover {
  text-decoration: underline;
}
.host-van-detail-nav {
  display: flex;
  gap: 10px;
}
.host-van-detail-nav :hover {
  text-decoration: underline;
  font-weight: bold;
}
.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
  cursor: pointer;
}
.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
  cursor: pointer;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
  cursor: pointer;
}
.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}
.van-type.clear-filter:hover {
  cursor: pointer;
  background-color: #ffcc8d;
}
.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.error-404 {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.return-home-btn {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
